@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
	font-family: 'Rajdhani', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #264653;
}

.main-container {
	border-radius: 2em;
	background: #2a9d8f;
}

.display {
	height: 80px;
	background-color: #264653;
	border-radius: 10px;
	border: solid 1px #e9c46a;
	direction: rtl;
	font-size: 3.9em;
	color: rgb(255, 255, 255);
	padding-right: 4px;
	box-shadow: inset 0px 0px 20px 5px rgba(134, 139, 51, 0.3);
}

#header-text {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	color: #1c3144;
}

.container {
	padding: 20px;
	width: 300px;
	border: 1em solid #e9c46a;
	border-radius: 2em;
}

.controls {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: stretch;
}

#backspace,
#clear-btn {
	height: 1.8em;
	padding: 0em;
	border-radius: 0.3em;
	flex: 1;
}

.backspace,
.operator-btn,
.number-btn,
.clear-btn,
.equals-btn,
.period-btn {
	color: #264653;
	background-color: #d9f2b4;
	height: 2.5em;
	width: 2.5em;
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
	border-radius: 0.4em;
}

.backspace:hover,
.operator-btn:hover,
.number-btn:hover,
.clear-btn:hover,
.equals-btn:hover,
.period-btn:hover {
	background-color: #e9c46a;
}

.sub-container {
	display: flex;
	margin: 0em;
	padding: 0em;
}

.operators {
	display: flex;
	flex-direction: column;
}

.numbers-container {
	flex: 1;
}
